$font-family: 'Poppins', sans-serif;
$color-primary: #0C151D;
$color-secondary: #E9EBEC;
$color-light: #F1F2F4;
$color-accent: #FFE071;
$color-text: #A3ABB2;
$color-dark: #3D3D3D;
$gap-large: 2.5rem;
$gap-medium: 1.875rem;
$gap-small: 1.625rem;
