footer {
    color: $color-text;
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.375rem;
  
    p {
      margin: 6.875rem 0 5rem calc(0% + 6.4375rem);
      font-size: 1.375rem;
    }
  }
  