.lm-white-bgc {
    background-color: #fff;
  }
  
  .lm-graphite {
    color: $color-dark;
  }
  
  .lm-yellow-btn {
    background-color: #FBD144;
  }
  
  .lm-grey-btn {
    background-color: #D7D7D7;
  }
  
  .lm-text-darkgrey {
    color: #19191B;
  }
  
  .lm-text {
    color: #575757 !important;
  }
  
  .lm-icon-graphite {
    filter: brightness(0) saturate(100%) invert(34%) sepia(1%) saturate(0%) hue-rotate(283deg) brightness(98%) contrast(95%);
  }
  